/* * {
  background-color: cyan;
} */

body {
  background-color: #f1faee;
}
button {
  font-size: 30px;
  background-color: #a8dadc;
}

h1,
h2 {
  color: #1d3557;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

span {
  color: #457b9d;
}

.tag {
  background-color: #e63946;
  font-size: 16px;
  color: #f1faee;
}

.post a {
  color: #457b9d;
}

footer a {
  color: #e63946;
}
/* button stright after input on same level */
h2 + button {
  font-size: 20px;
}

/*  li is direct child of div */
footer > a {
  color: #457b9d;
}

/* select input with attribute type=password */
input[type="password"] {
  color: greenyellow;
}
/* href contains google */
a[href*="google"] {
  color: magenta;
}
/* :hover is state of button i.e. when hovered over */
.post button:hover {
  background-color: #e63946;
  color: #f1faee;
}

.post button:active {
  background-color: green;
}
/* the third one */
/* .post:nth-of-type(3) {
  background-color: #dfe8dc;
} */

/* every third one */
.post:nth-of-type(3n) {
  background-color: #dfe8dc;
}
