body {
  margin: 0;
}

div {
  width: 200px;
  height: 200px;
}

#paragraph1 {
  background-color: pink;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-left: 50px;
  /* box-sizing: border-box; */
}

#paragraph2 {
  background-color: cyan;
  border-color: lavender;
  border-width: 5px;
  border-style: dashed;
  border-left-color: blueviolet;
  padding-right: 50px;
  margin-bottom: 100px;
}

#paragraph3 {
  background-color: plum;
  border: 4px solid green;
  border-radius: 10px;
  margin: 200px;
}

h1 {
  background-color: yellow;
  width: 150px;
  padding-left: 50px;
  padding-top: 50px;
  margin: 0;
}

span {
  margin-left: 10px;
}

button {
  padding: 10px 20px 30px 40px;
}
