div {
  width: 100px;
  height: 100px;
  background-color: #3d405b;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}

#middle {
  background-color: green;
}

#static #middle {
  position: static;
  top: 100%;
}

/* relative to original position */
#relative #middle {
  position: relative;
  top: 100px;
  left: 100px;
}

/* relatice to ancestor */
#absolute #middle {
  position: absolute;
  top: 50px;
  left: 50px;
}

/* relatice to ancestor */
#fixed #middle {
  position: fixed;
  top: 100px;
}
