span {
  border: 1px solid black;
  padding: 10px;
  margin: 50px;
  display: block;
}

h1 {
  background-color: paleturquoise;
  border: 1px solid black;
  width: 300px;
  padding: 50px;
  margin: 100px;
  display: none;
}

div {
  height: 200px;
  width: 200px;
  background-color: olivedrab;
  border: 1px solid black;
  display: inline-block;
}
